.page {
  padding: 0px 20px;
}

.main {
  display: -webkit-flex;
  display: flex;
  margin-top: 50px;
}

.main .options {
  width: 200px;
}

.main .ranking {
  -webkit-flex: 1;
  flex: 1;
}

.hidden {
  display: none;
}

.options {
  padding-top: 10px;
}

.filters {
  padding-top: 2px;
}

.options .filterRadio {
  padding: 2px 0px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
}
