.page {
  padding: 0px 20px;
}

.main {
  display: -webkit-flex;
  display: flex;
  margin-top: 50px;
}

.main .options {
  width: 200px;
}

.main .ranking {
  -webkit-flex: 1;
  flex: 1;
}

.hidden {
  display: none;
}

.options {
  padding-top: 10px;
}

.filters {
  padding-top: 2px;
}

.options .filterRadio {
  padding: 2px 0px;
}

.graphic {
  padding-left: 200px;
}
.ribbons {
  fill-opacity: 0.67;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}

