.page {
  padding: 0px 20px;
}

.main {
  display: -webkit-flex;
  display: flex;
  margin-top: 50px;
}

.main .options {
  width: 200px;
}

.main .ranking {
  -webkit-flex: 1;
  flex: 1;
}

.hidden {
  display: none;
}

.ranking th {
  padding-right: 5px;
}

.ranking td {
  padding-right: 5px;
}